*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

label, input{
    display: flex;
    flex-direction: row;
}

label{
    margin-top: 10px;
}

input{
    width: 100%;
}

form{
    margin: 15px auto;
    padding: 15px;
    min-width: 430px;
    max-width: 630px; 
    border: 2px solid black;   
}

input[type="submit"]{
    margin: 15px auto 0 auto;
    width: 30%;
}

body{
    margin-top: 10px;
}